{% extends 'base.html.twig' %}

{% block body %}
    <h1>Изменение альбома "{{ album.title }}":</h1>
    {{ form_start(form) }}

    {{ form_row(form.title, {'label': 'Название альбома'}) }}

    {{ form_row(form.email, {'label': 'Электронная почта'}) }}

    {{ form_row(form.save, {'attr': {'class': 'button'}}) }}

    {{ form_end(form) }}
    <button class="button cancel">Отмена</button>
{% endblock %}