{% extends 'base.html.twig' %}

{% block body %}
    <h1>Добавление фотографии в альбом "{{ album.title }}":</h1>
    {{ form_start(form) }}

    {{ form_row(form.file, {'label': 'Прикрепите файл'}) }}

    {{ form_row(form.title, {'label': 'Название фотографии'}) }}

    {{ form_row(form.save, {'attr': {'class': 'button'}}) }}

    {{ form_end(form) }}
    <button class="button cancel"><a href="{{ url('albums_list') }}">Отмена</a></button>
{% endblock %}