{% extends 'base.html.twig' %}

{% block body %}
    <h1>"{{ album.title }}"</h1>
    <ul>
        {% for photo in album.photos %}
            <ul class="menu">
                <li><img src="{{ asset('assets/img/' ~ photo.imagePath) }}" class="image--list"></li>
                <li>{{ photo.title }}</li>
                <li>Загружено: {{ photo.dtCreate.format('Y-m-d H:i:s') }}</li>
                <li><a href="{{ url('delete_photo', {'id': photo.id}) }}">удалить фотографию</a></li>
            </ul>
        {% endfor %}
    </ul>
    <button class="button"><a href="{{ url('add_photo', {'id': album.id}) }}">Добавить фото</a></button>
{% endblock %}